.box {
  // height: 100px;
  display: block
  border-radius: 5px;
  box-shadow: 0 2px 30px rgba(black, .2);
  background: lighten(#f0f4c3, 10%);
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 105px;
  background: linear-gradient(to bottom, rgba(#e8a, 1), rgba(#def, 0) 80%, rgba(white, .5));
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

.wave {
  opacity: .4;
  position: absolute;
  top: 50%;
  left: -5%;
  background: blue;
  width: 2000px;
  height: 2000px;
  margin-left: -100%;
  margin-top: 0px;
  transform-origin: 50% 48%;
  border-radius: 46%;
  animation: drift 4000ms infinite linear;
}

.wave.-three {
  animation: drift 3500ms infinite linear;
}

.wave.-two {
  animation: drift 6000ms infinite linear;
  opacity: .1;
  background: aqua;
}


@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}

.title {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10000;
  line-height: 125px;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color: white;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  letter-spacing: .4em;
  font-size: 24px;
  text-shadow: 0 1px 0 rgba(black, .1);
  text-indent: .3em;
}

.page-header{
  margin: 0 !important;
}
